html {
	font-size: 20px;
}

body {
  font-family: "Comic Sans MS";
	padding: 50px;
	text-align: center;
}

.header {
  padding:5px;
	position: fixed;
  height: 120px;
	left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
	background-color: #60CDD0;
}

#presentation {
	padding: 4%;
	vertical-align: middle;
}

.services {
	background-color: #a2fdd1;
	border-radius:10px;
}

.services div {
  width:calc(90% / 3);
  display:inline-block;
	vertical-align: text-top;
}

#speaches-and-events {
  padding: 10px;
}

#technologies {
  padding: 10px;
}

.footer {
	width: 100%;
  padding: 20px;
	background-color: #60CDD0;
	border-radius:5px;
}
