body {
	padding: 50px;
	text-align: center;
}

a {
	color: #197219;
	text-decoration: none;
}

@font-face {
	font-family: "Amatic";
	src: url("../fonts/AmaticSC-Regular.ttf");
}

@font-face {
	font-family: "Source Code Pro";
	src: url("../fonts/SourceCodePro-Regular.ttf");
}

h1 {
	font-family: "Amatic";
	font-size: 50px;
}

h1 a {
	color: #000000;
	text-decoration: none;
}

h2 {
	font-family: "Amatic";
	font-size: 48px;
}

h3 {
	font-family: "Amatic";
	font-size: 40px;
}

h4 {
	font-family: "Amatic";
	font-size: 30px;
}

.content a:hover {
	color: #1ACEAA;
	text-decoration: underline;
}

#blog a {
	font-family: "Source Code Pro";
	font-size: 30px;
}

#blog p {
	margin-left: 100px;
	margin-right: 100px;
	line-height: 200%
}

p {
	font-family: "Source Code Pro";
	font-size: 20px;
}

h5 {
	font-family: "Source Code Pro";
	font-size: 20px;
}

.header {
  padding:5px;
	position: fixed;
  height: 130px;
	left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
	background-color: #60CDD0;
}

#presentation {
	padding: 100px;
	vertical-align: middle;
	line-height: 200%;
}

.services {
	background-color: #A2FDD1;
	border-radius: 10px 10px 0 0;
	line-height: 200%;
}

.services div {
  width: calc(90% / 3);
  display: inline-block;
	vertical-align: text-top;
	padding: 10px;
}

.call-to-action a {
	display: block;
  height: 70px;
  width: auto;
	border-radius: 5%;
	border-color: #1A6335;
	background-color: #83E3C4;
	font-family: "Amatic";
	font-size: 20px;
}

.call-to-action a:hover {
	color: #FFFFF0;
	text-decoration: underline;
}

#consultancy-page {
	padding: 100px;
	vertical-align: middle;
	line-height: 200%;
}

#consultancy-page p {
	font-family: "Source Code Pro";
	list-style-type: none;
	font-size: 20px;
	line-height: 200%;
}

#consultancy-page .call-to-action {
	margin: auto;
	horizontal-align: middle;
  max-width: 100px;
  padding: 5px;
  text-align: center;
}

.consultancy-content div {
	width: calc(90% / 2);
  display: inline-block;
	vertical-align: text-top;
}

.consultancy-list {
	display: inline-block;
	text-align: left;
}

.consultancy-image img {
	display: inline-block;
	height: auto;
  width: auto;
  max-width: 600px;
  max-height: 400px;
	border-radius: 10px;
}

#development-page {
	padding: 100px;
	vertical-align: middle;
	line-height: 200%;
}

.test-types div {
  width: calc(90% / 3);
  display: inline-block;
	vertical-align: text-top;
	padding: 10px;
}

#development-page .call-to-action {
	margin: auto;
	horizontal-align: middle;
  max-width: 100px;
  padding: 20px;
  text-align: center;
}

#development-page .call-to-action a {
	display: block;
  height: 100px;
  width: 100px;
	border-radius: 5%;
	border-color: #1A6335;
	background-color: #83E3C4;
	font-family: "Amatic";
	font-size: 20px;
}

#blog {
	padding: 50px;
	background-color: #A2FDD1;
	border-radius:0 0 10px 10px;
	font-size: 20px;
}

#speaches-and-events {
  padding: 10px;
}

#speaches-and-events .left {
	border-right: 1px solid black;
}

#speaches-and-events div {
	width: calc(90% / 2);
  display: inline-block;
	vertical-align: text-top;
}

#technologies i {
	font-size: 40px;
	line-height: 3;
	margin: 0 18px;
}

.footer {
  padding: 20px;
	background-color: #83E3C4;
	border-radius: 5px 5px 0 0;
	font-size: 50px;
	margin-top: 10px;
}

.footer p {
	font-size: 24px;
}

.footer h4 span {
	display: none;
}

.language {
	background-color: #83E3C4;
	border-radius:0 0 10px 10px;
	padding: 10px;
	font-family: "Source Code Pro";
}

.language a:hover {
	color: #1ACEAA;
	text-decoration: underline;
}

@media only screen and (max-device-width: 650px) {
	h1 {
		font-size: 350%
	}

	h3 {
		font-size: 50px;
	}

	h4 {
		font-size: 30px;
	}

	#presentation {
		padding: 20px;
		vertical-align: middle;
	}

	#presentation p {
		font-size: 40px;
		line-height: 150%;
	}

	.services {
		background-color: #A2FDD1;
		border-radius:10px 10px 0 0;
	}

	.services div {
	  width: 100%;
		padding: 10px;
	}

	.services p {
		padding-right: 40px;
		padding-left: 40px;
		font-size: 200%;
		line-height: 150%;
	}

	.call-to-action a {
		display: none;
		border-color: #A2FDD1;
		background-color: #A2FDD1;
	}

	#consultancy-page p {
		font-size: 38px;
	}

	.consultancy-content div {
		width: 100%;
	  display: inline-block;
		vertical-align: text-top;
		text-align: center;
	}


	#blog {
		padding: 5px;
		background-color: #A2FDD1;
		border-radius:0 0 10px 10px;
	}

	#blog a {
		font-size: 40px;
	}

	#blog p {
		margin-left: 20px;
		margin-right: 20px;
		font-size: 40px;
		line-height: 150%
	}

	#speaches-and-events .left {
		border-right: 1px solid #FFFFFF;
	}

	#speaches-and-events div {
		width: 100%;
	}

	#speaches-and-events h5 a {
		font-size: 200%
	}

	.footer {
	  padding: 10px;
		background-color: #83E3C4;
		border-radius: 5px 5px 0 0;
		margin-top: 10px;
	}

	.footer h4 {
		font-size: 40px;
	}

	.footer p {
		font-size: 24px;
	}

	.footer h4 span {
		display: inline;
	}

	.language {
		border-radius: 0 0 5px 5px;
	}

	.language a {
		font-size: 24px;
	}
}
