body {
	padding: 50px;
	text-align: center;
}

a {
	color: #197219;
	text-decoration: none;
}

@font-face {
	font-family: "Amatic";
	src: url("../fonts/AmaticSC-Regular.ttf");
}

@font-face {
	font-family: "Source Code Pro";
	src: url("../fonts/SourceCodePro-Regular.ttf");
}

h1 {
	font-family: "Amatic";
	font-size: 50px;
}

h3 {
	font-family: "Amatic";
	font-size: 40px;
}

h4 {
	font-family: "Amatic";
	font-size: 30px;
}

p {
	font-family: "Source Code Pro";
	font-size: 20px;
}

h5 {
	font-family: "Source Code Pro";
	font-size: 20px;
}

.header {
  padding:5px;
	position: fixed;
  height: 130px;
	left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
	background-color: #60CDD0;
}

#presentation {
	padding: 100px;
	vertical-align: middle;
}

.services {
	background-color: #a2fdd1;
	border-radius:10px 10px 0 0;
	line-height: 200%;
}

.services div {
  width: calc(90% / 3);
  display: inline-block;
	vertical-align: text-top;
	padding: 10px;
}

#blog {
	padding: 50px;
	background-color: #a2fdd1;
	border-radius:0 0 10px 10px;
	font-size: 20px;
}

#speaches-and-events {
  padding: 10px;
}

#speaches-and-events .left {
	border-right: 1px solid black;
}

#speaches-and-events div {
	width: calc(90% / 2);
  display: inline-block;
	vertical-align: text-top;
}

#technologies i {
	font-size: 40px;
	line-height: 3;
	margin: 0 18px;
}

.footer {
  padding: 1px;
	background-color: #83E3C4;
	border-radius:5px;
	font-size: 50px;
	margin-top: 10px;
	line-height: 120%;
}

.footer p {
	font-size: 24px;
}
